[submodule "src/Omni.Core"]
	path = src/Omni.Core
	url = https://github.com/silenterus/Omni.Core.git

[submodule "src/Omni.Datatypes"]
	path = src/Omni.Datatypes
	url = https://github.com/silenterus/Omni.Datatypes.git

[submodule "src/Omni.SqlGen"]
	path = src/Omni.SqlGen
	url = https://github.com/silenterus/Omni.SqlGen.git

[submodule "src/Omni.Extensions"]
	path = src/Omni.Extensions
	url = https://github.com/silenterus/Omni.Extensions.git

[submodule "src/Omni.Crawler"]
	path = src/Omni.Crawler
	url = https://github.com/silenterus/Omni.Crawler.git

[submodule "src/Omni.Assemblies"]
	path = src/Omni.Assemblies
	url = https://github.com/silenterus/Omni.Assemblies.git

[submodule "src/Omni.Cli"]
	path = src/Omni.Cli
	url = https://github.com/silenterus/Omni.CMD.git
[submodule "src/Omni.ViewModel"]
	path = src/Omni.ViewModel
	url = https://github.com/silenterus/Omni.ViewModel.git

[submodule "src/Omni.Wpf"]
	path = src/Omni.Wpf
	url = https://github.com/silenterus/Omni.Wpf.git

[submodule "src/Omni.WinUI"]
	path = src/Omni.WinUI
	url = https://github.com/silenterus/Omni.WinUI.git

[submodule "src/Omni.Ava"]
	path = src/Omni.Ava
	url = https://github.com/silenterus/Omni.Ava.Core.git


[submodule "src/thirdparty/UndetectedChromeDriver"]
	path = src/thirdparty/UndetectedChromeDriver
	url = https://github.com/fysh711426/UndetectedChromeDriver.git


[submodule "src/thirdparty/Tomlyn"]
	path = src/thirdparty/Tomlyn
	url = https://github.com/xoofx/Tomlyn.git

[submodule "src/thirdparty/Selenium.WebDriver.UndetectedChromeDriver"]
	path = src/thirdparty/Selenium.WebDriver.UndetectedChromeDriver
	url = https://github.com/emre-gon/Selenium.WebDriver.UndetectedChromeDriver.git